@import url('https://fonts.googleapis.com/css?family=Lobster|Poppins');

.icon {
    color: #888888 !important;
}

.icon:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.title {
    font-size: 24pt;
}

.title:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.email {
    color: #888888 !important;
    font-size: 12pt;
}

.email:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.github {
    color: #888888 !important;
    font-size: 12pt;
}

.github:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.footer-copyright a {
    color: #888888 !important;
}

.footer-copyright a:hover {
    color: #ffffff !important;
}

.mdbfooter {
    margin: 0;
    padding: 0;

}